
/* ------------------Reset CSS------------------ */
* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------------------------------------------ */
.wrapper {
  min-width: 100%;
  overflow: hidden;
  color: rgb(66, 66, 255);
  font-weight: 700;
}

.accordeon {
  max-width: 60vw;
  margin: 3vh auto;
  transition: color 0.7s ease;
}

.accordeon:hover {
  color:black;
  transition: color 0.7s ease;
}

.accordeon h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  color: rgb(66, 66, 255);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  margin: 1.5rem;
}

.accordeon-item {
  margin: 0.2rem;
}

.accordeon-item:hover {
  cursor: pointer;
  margin: 0.2rem;
}

.accordeon-title {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.accordeon-title div{
  display: flex;
  justify-content: space-between;
}

.accordeon-title h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.accordeon-input {
  width: 0rem;
  height: 0rem;
  visibility: hidden;
}

.accordeon-img {
  padding: 1rem 1.5rem;
  visibility: hidden;
}

.accordeon-img div{
  display: flex;
  justify-content: center;
}

.accordeon-input:checked ~ .accordeon-img {
  visibility: visible;
}

.accordeon-input:checked ~ .accordeon-title {
  color:black;
  background-color: rgb(207, 233, 255);
  transition: background-color 0.5s ease;
}

.accordeon-input:active ~ .accordeon-title {
  background-color: rgb(183, 183, 183);
  color:black;
  transition: background-color 0.5s ease;
}

.accordeon-input:active ~ .accordeon-img {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.accordeon-item:hover > [class^="accordeon"] {
  display: block;
  visibility: visible;
  transition: display 0.7s ease;
}

.accordeon-item:hover > [class^="accordeon"] > div > .img{
  width: 20%;
  transition: width 1.5s ease;
}

.accordeon-input:checked ~ .accordeon-img > div > .img{
  width: 60%;
  transition: width 1.5s ease;
}

.img {
  width: 0%;
  transition: width 1.5s ease;
}

.x {
  background: url(./img/xx.png);
  height: 2rem;
  width: 2rem;
  opacity: 0;
  background-size: cover;
  rotate: 45deg;
  transition: opacity 0.7s ease;
}

.accordeon:hover > .accordeon-item > .accordeon-title > div > [class^="x"] {
  opacity: 1;
  transition: opacity 0.7s ease;
}

.accordeon:hover > .accordeon-item > .accordeon-input:checked ~ .accordeon-title > div > [class^="x"] {
  opacity: 1;
  rotate: 0deg;
  transition: rotate 0.7s ease;
}

.accordeon:hover > .accordeon-item:hover > [class^="accordeon"] > div > [class^="x"] {
  opacity: 1;
  rotate: 0deg;
  transition: rotate 0.7s ease;
}

hr {
  border: none;
  background-color: rgb(183, 183, 183);
  color: rgb(183, 183, 183);
  height: 0.3rem; 
 }